@import '~bulma/bulma';
@import '~ace-css/css/ace.min';

$primary: rgb(100,200,200);
$info: rgb(200,50,200);

a {
  text-decoration: none;
  color: $info  ;
}

.tabs li.is-active a {
  color: $primary;
  border-bottom-color: $primary;
}

.heading {
  color: $primary;
}

body{
  max-width:100%;
}
.navbar.is-fixed-top{
  max-width:100% !important;
}

.w100v {
  width: 100vw;
}
